.navbar {
    background-color: #0f172a;
    color: rgb(34, 29, 29);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    width: 100%;
    z-index: 1000;
    position: sticky; /* Make navbar stick to the top */
    top: 0; /* Position at the top */
}

.navbar .title {
    font-size: 1.5rem;
    margin-right: auto;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(232, 224, 237);
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar ul li a.active {
    background-color: #1d4ed8;
}

.navbar ul.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ccd7f1;
}

.navbar ul.open li {
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
